<app-loading *ngIf="loading" class="m-5"></app-loading>

<div *ngIf="error" class="alert alert-danger animated fadeIn">
    <h3> Error </h3>
    <p>
        {{ mensajeError }}
    </p>
</div>

<app-cards [items]="newSongs" ></app-cards>