<app-loading *ngIf="loading" class="m-5"></app-loading>

<div class="row animated fadeIn" *ngIf="!loading">
    <div class="col-2">
        <img [src]="artist.images | noimage" class="img-thumbnail img-circle">
    </div>
    <div class="col">
        <h3> {{ artist.name }}</h3>
        <a [href]="artist.external_urls.spotify" target="blank"> Ir a la Página del Artista </a>
    </div>
    <div class="col-4 text-right">
        <button routerLink="/search" class="btn btn-outline-danger"> Regresar </button>
    </div>
</div>

<div class="row m-5">
    <div class="col">
        <table class="table text-light">
            <thead>
                <tr>
                    <th>Foto</th>
                    <th>Album</th>
                    <th>Cancion</th>
                    <th>Vista Previa</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let topTrack of topTracks">
                    <td> <img [src]="topTrack.album.images | noimage" class="img-thumb"></td>
                    <td>{{ topTrack.album.name}}</td>
                    <td>{{ topTrack.name}}</td>
                    <td>
                        <!-- <audio [src]="topTrack.preview_url" controls> </audio> -->
                        <iframe [src]="topTrack.uri | domseguro" width="300"
                            height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                    </td>
                    
                </tr>
            </tbody>
        </table>
    </div>
</div>